tensorflow
opencv-python  # o opencv-python-headless si no necesitas mostrar video
numpy
matplotlib
pillow
cmake  # Necesario solo para compilar dlib
#dblib
#https://github.com/z-mahmud22/Dlib_Windows_Python3.x
face-recognition
astrapy
mss 

